ul{
	list-style-type: none;
	width: 20%;
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: lightgoldenrodyellow;
	position: fixed;
	overflow: auto;
}
li a{
	display: block;
	background-color: lightgoldenrodyellow;
	padding: 12px;
	text-decoration: none;
}
a:hover{
	background-color: goldenrod;
	color: white;
}
li a.activo{
	background-color: darkgoldenrod;
	color: white;
}
li a:hover:not(.activo){
	background-color: black;
	color: white;
}

.capa1{
	margin-left: 25%;
	padding: 12px;
}

@font-face{
	font-family: "fuente1";
	src: url(FUENTE1/EduAUVICWANTPre-VariableFont_wght.ttf) format("truetype");
}
@font-face{
	font-family: "fuente2";
	src: url(FUENTE2/RubikMonoOne-Regular.ttf) format("truetype");
}
@font-face{
	font-family: "fuente3";
	src: url(FUENTE3/TiltNeon-Regular-VariableFont_XROT,YROT.ttf) format("truetype");
}
p{
	text-align: justify;
    font-family: "fuente1", cursive;
}

h1{
	font-family: "fuente2", monospace;
}

h2{
	font-family: "fuente3", sans-serif;
}